.logo {
   max-width:100%;
   height:auto;
   max-height:100%;
   text-align: center;
   margin: 0 auto !important;
}

.main-title-loading-page {
   text-align: center;
   margin: 0 auto !important;
}

.mg-tp-60 {
   margin-top: 60px;
}

.center {
    margin: 0 auto !important;
    text-align: center;
}

.links-spaces {
   margin-left: 20px;
}
